body {
  margin: 0;
  padding: 30px;
  overflow: hidden;
  background: #313131;
}

canvas {
  width: 100%;
  box-shadow: -3px 2px 9px 6px hsla(0, 0%, 0%, .25);
  cursor: pointer;
}

.tools {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 15px;
}

.tools .color-field {
  height: 40px;
  width: 40px;
  min-height: 40px;
  min-width: 40px;
  margin: 0 15px;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #fff;
}

.tools .button {
  align-self: center;
  width: 100px;
  height: 40px;
  border: 2px solid #fff;
  cursor: pointer;
  background: #222;
  font-weight: 700;
  margin: 0 15px;
  color: #fff;
}


.color-picker {
  align-items: center;
  margin: 0 10px;
  height: 50px;
}

.pen-range {
  align-items: center;
  margin: 0 15px;
}